
<h1>hii welcome</h1>

<% datas["Search"].forEach(function(movie){ %>
  <ol>
  <li><%= movie["Title"] %></li>
  <li><img src="<%= movie["Poster"]%>"></li>
</ol>


<% }); %>
<a href="/">search again!!</a>
